
  <section class="listar-vagas">
   <div *ngFor="let buscarvaga of Buscarvagas">
  
      <div class="card" style="width: 18rem;">
        <img src="asserts\img\vagass\{{buscarvaga.Fotos}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Cod Vaga :{{buscarvaga.id}}</h5>
          <h5 class="card-title">Vaga:{{buscarvaga.Vaga}}</h5>
          <h5 class="card-title">DescricaoNecessario :{{buscarvaga.reqNecessarios}}</h5>
          <p class="card-title">Descricaodesejado :{{buscarvaga.reqDesejado}}</p>
          <p class="card-title">Salario R$ :{{buscarvaga.salario}}</p>
        </div>
      </div>
  
    </div>
  
  </section>
  
